*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
.navbar{
  height: 60px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  z-index: -999;
}
.logo{
font-size: 20px;
font-weight: 700;
letter-spacing: 2px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
z-index: -999;

}
.container {
  padding-top: 3vh;
  width: 100%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
}
.container .box {
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
  border-radius: 15px;
  overflow: hidden;
}
.inner-box{
  /* border: 2px solid red; */
  position: relative;

  overflow: hidden;
}

.container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}

img:hover {
  opacity: 0.95;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  padding: 2px;
  transition: transform 0.4s ease;
  background-color: #fff;
  height: 43px;
  padding: 0 12px;
}
.inner-box:hover .caption{
  transform: translateY(-40px);
}
/* ----------------------Overlay--------------------- */
/* ----------------------Overlay--------------------- */
.overlay{
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  position: absolute;
  background: #000;
  z-index: 999;
}

@media (max-width: 1427px) {
  .container {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .container {
    columns: 4;
  }
}

@media (max-width: 1000px) {
  .container {
    columns: 3;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 786px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 2;
    gap: 10px;
  }
  .logo{
    font-size: 15px;
  z-index: -999;
    
    }
}
